<div style="background-color: whitesmoke; height: 582px;"><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Following</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of followings">
                <td><a routerLink="/profile/{{item._id}}"  (click)="check(item._id)">
                  <img  [src]="'http://localhost:4000/'+item.userImage" alt="userImg" class="avatar">
                    {{item.username}}</a></td>
            </tr>
        </tbody>
    </table>
    
    
</div>