<br>
<br>
<br>
<div class="container" style="text-align: center;" >
    <div>
        <div class="col-xs-12 col-lg-4">
            <img [src]="'http://localhost:4000/'+user.userImage" alt="userImage" id="user" style="height: 150px; border-radius: 120px 120px 120px 120px; border: 1px solid gainsboro; ">
        </div>
        <div class="col-lg-8" style="text-align: left;">
            <div id="username">{{user.username}} 
                <button class="btn btn-success" routerLink="/users/edit/{{user._id}}"> &nbsp; Edit &nbsp;</button>
            </div><br>
            <span class="det"><span style="font-weight: bolder;"></span><b>Blogs</b></span>
            <a routerLink="/users/followings/{{user._id}}"><span class="det"><span style="font-weight: bolder;">{{numFollowimgs}} Following</span></span></a>
            <a routerLink="/users/followers/{{user._id}}"><div class="det"><span style="font-weight: bolder;">{{numFollowers}} Followers</span></div></a>
 
        </div>
    </div>
</div>
<div class="container">
<hr id="line" style="background-color: lightgray; height: 1px;"> 
</div>
<app-loggeddata></app-loggeddata>